@import "./normalize.css";

@font-face {
  font-family: "Satoshi";

  src: url("/assets/fonts/Satoshi-Black.otf") format("otf");
  src: url("/assets/fonts/Satoshi-BlackItalic.otf") format("otf");
  src: url("/assets/fonts/Satoshi-Bold.otf") format("otf");
  src: url("/assets/fonts/Satoshi-BoldItalic.otf") format("otf");
  src: url("/assets/fonts/Satoshi-Italic.otf") format("otf");
  src: url("/assets/fonts/Satoshi-Light.otf") format("otf");
  src: url("/assets/fonts/Satoshi-LightItalic.otf") format("otf");
  src: url("/assets/fonts/Satoshi-Medium.otf") format("otf");
  src: url("/assets/fonts/Satoshi-MediumItalic.otf") format("otf");
  src: url("/assets/fonts/Satoshi-Regular.otf") format("otf");
}

@font-face {
  font-family: "Sentient";

  src: url("/assets/fonts/Sentient-Bold.otf") format("otf");
  src: url("/assets/fonts/Sentient-BoldItalic.otf") format("otf");
  src: url("/assets/fonts/Sentient-Extralight.otf") format("otf");
  src: url("/assets/fonts/Sentient-ExtralightItalic.otf") format("otf");
  src: url("/assets/fonts/Sentient-Italic.otf") format("otf");
  src: url("/assets/fonts/Sentient-Light.otf") format("otf");
  src: url("/assets/fonts/Sentient-LightItalic.otf") format("otf");
  src: url("/assets/fonts/Sentient-Medium.otf") format("otf");
  src: url("/assets/fonts/Sentient-MediumItalic.otf") format("otf");
  src: url("/assets/fonts/Sentient-Regular.otf") format("otf");
}

:root {
  --ff-primary: "Satoshi", sans-serif;
  --ff-headings: "Sentient";
  --color-primary: #10121a;
  --color-secondary: #416bff;
  --color-accent: #707070b2;
  --color-headings: #000000;
  --color-span: #007aff;
  --color-body: #ffffff;
  --color-border: #ccc;
  --border-radius: 24px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  background: var(--color-primary);
  color: var(--color-body);
}

html {
  font-size: 62.5%;
}

img {
  width: 3rem;
}

body {
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  line-height: 2.25;
  letter-spacing: -2%;
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
  color: var(--color-headings);
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 6.188rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h1,
span {
  font-size: 5.625rem;
}

h3,
h4 {
  color: rgba(118, 118, 128, 1);
}

span {
  color: var(--color-span);
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

.main__header {
  background: url(/assets/images/hero_bg.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem 9.375rem;
  border: 1px solid var(--color-body);
  position: sticky;
  top: 0;
  z-index: 3;
}

/* logo */

.logo img {
  height: 1.875rem;
}

.logo__text {
  font-family: var(--ff-headings);
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.5;
  letter-spacing: -4%;
}

/* navigation */
nav {
  display: flex;
}

.nav_list__item {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  gap: 4.375rem;
  list-style-type: none;
  border: 0.063rem solid rgba(65, 107, 255, 0.15);
  border-radius: 3.75rem;
  padding: 0 2.5rem;
}

.nav__item a {
  font-weight: 400;
  font-size: 1.19rem;
  line-height: 1.625rem;
  color: rgba(112, 112, 112, 0.7);
  letter-spacing: -0.01%;
}

.nav_list__cta {
  list-style-type: none;
}

#get__started {
  background-color: rgba(65, 107, 255, 0.8);
  border-radius: 0.5rem;
  padding: 1px 3rem;
}

#get__started a {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  transition: color 0.3s ease;
}

/** about us section **/
.about,
.process {
  text-align: center;
  margin: 0 4rem;
}

.about_main__content {
  background: url(../images/metrics.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem;
}

.about_header__content,
.process_header__content {
  padding: 6rem 0;
}

.bar-dark {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.313rem;
  color: rgba(72, 78, 183, 1);
}

.about__tagline {
  color: rgba(102, 112, 133, 1);
}

.about_torus {
  top: 480px;
  right: 100px;
  width: 120px;
  height: 120px;
}

.about_half__torus {
  top: -34px;
  left: 20px;
  width: 200px;
  height: 200px;
  z-index: 2;
}

.about_torus,
.about_half__torus {
  position: absolute;
}

/* hamburger */
@media screen and (max-width: 853px) {
  /* body {
    margin: 1rem 1.5rem 2rem 1.5rem;
  } */

  header {
    position: relative;
    display: block;
  }

  .hamburger {
    cursor: pointer;
    padding: 10px;
    /* float: right; */
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: var(--color-body);
    margin: 4px 0;
  }

  .nav_list__item {
    display: none;
    position: absolute;
    background-color: var(--color-body);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .nav_list__item a {
    color: var(--color-primary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .nav_list__item a:hover {
    background-color: var(--color-body);
  }

  .show {
    display: block;
  }

  #get__started {
    display: none;
  }
  /* 
  h1,
  h2 {
    font-size: 1rem;
  }

  p {
    line-height: 1.5rem;
  }

  header > nav > ul > li {
    font-size: 0.5rem;
  } */
}

.card__container {
  display: flex;
  gap: 24px;
}

.card {
  text-align: center;
  border-radius: 5px;
  background-color: rgba(2, 2, 2, 0.4);
  padding: 20px;
  width: 100%;
  box-shadow: 10px 10px var(--color-headings);
}

.card_heading {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
}

.card_text,
.card_list {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

/* process section */
.process_card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.process_card {
  width: calc(33.33% - 10px);
  text-align: left;
  background-color: var(--color-body);
  padding: 20px;
}

.process_card__heading {
  color: var(--color-headings);
  font-weight: 500;
}

.process_card__text {
  color: rgba(118, 118, 128, 1);
  font-weight: 300;
}

.process_card__number {
  color: rgba(235, 237, 240, 0.5);
  font-family: var(--ff-headings);
  font-size: 5rem;
  margin-bottom: -4rem;
}

/* why choose us section */
.choose-us {
  text-align: center;
  padding: 8rem 4rem 4rem 4rem;
  color: rgb(195, 196, 199);
  background-color: #12141d;
}

.choose-us_card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.choose-us_card {
  width: calc(33.33% - 10px);
  text-align: center;
  padding: 20px;
}
.choose-us_card__heading,
.choose-us_heading {
  color: var(--color-body);
}

.choose-us_card__heading {
  font-weight: 500;
}

.choose-us_bar-dark {
  color: rgb(195, 196, 199);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.313rem;
}

.choose-us_card_icon {
  width: 62px;
  height: 62px;
}

.choose-us_card__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

/* ADD THE TROPHY SECTION CSS */

/* contact section */
.contact {
  position: relative;
  text-align: center;
  background: url(/assets/images/portfolio_bg.png) no-repeat center;
  background-size: cover;
  margin: 28rem 7rem 0 7rem;
  padding-top: 10rem;
  height: 537px;
}

.contact_pyramid {
  position: absolute;
  bottom: 50px;
  right: 110px;
  width: 150px;
  height: 150px;
  z-index: 2;
}

.waitlist {
  border: 1px solid rgba(121, 151, 255, 1);
  padding: 10px 100px 10px 10px;
  border-radius: 8px;
  background-color: rgba(210, 220, 255, 1);
  font-family: var(--ff-primary);
}

input::placeholder {
  color: rgba(65, 107, 255, 0.61);
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -2%;
}

/* footer section */
.footer {
  text-align: center;
  background-color: #10121a;
  margin-top: 18rem;
  padding-top: 10rem;
  color: rgba(255, 255, 255, 1);
  padding: 7rem 5rem 2rem 5rem;
}

.footer_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding: 0 5rem 0 5rem;
}

.footer_header__text {
  font-size: 16px;
  margin-bottom: 8rem;
}

.footer_logo {
  margin-bottom: 20px;
}

.footer_logo img {
  height: 50px;
  width: 81.25px;
}

.footer_logo__text {
  font-family: var(--ff-headings);
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -4%;
  color: var(--color-body);
  margin-left: 10px;
}

.footer_socials {
  display: flex;
  gap: 33px;
}

.footer_socials a {
  height: 46px;
}

.footer_header__text {
  line-height: 25px;
  letter-spacing: -2%;
}

.footer_header__left {
  flex-basis: 33%;
  text-align: left;
  font-weight: 200;
}

.footer_header__links {
  justify-content: space-evenly;
}

.footer_list__item {
  list-style-type: none;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-family: var(--ff-headings);
  font-size: 16px;
}

.footer_list__item a {
  color: rgb(255, 255, 257);
  font-weight: 300;
  font-family: var(--ff-primary);
  font-size: 14px;
}

.footer_list_contact {
  text-align: left;
}

hr {
  opacity: 20%;
  border: 1px solid rgba(255, 255, 255, 1);
}

.footer_lower {
  display: flex;
  justify-content: space-between;
}

.footer_lower__list {
  display: flex;
  gap: 40px;
}

.footer_lower_list__item,
.footer_lower__copyright-item {
  list-style-type: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  font-family: var(--ff-primary);
  font-size: 12px;
}
